<form class="form" #regularForm="ngForm" autocomplete="off">
  <div class="modal-header">
    <h4 class="modal-title white"> Add new medication</h4>
    <button type="button" class="close white" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-body">
      <div class="form-group row mt-2 ">
        <div class="col-md-2">
          <label> Designation</label>
        </div>
        <div class="col-md-8">
          <input type="text" required="" [(ngModel)]="medication.designation" #designation="ngModel" class="form-control"
            name="designation">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label> Note</label>
        </div>
        <div class="col-md-8">
          <input type="text" required="" [(ngModel)]="medication.note" #note="ngModel" class="form-control"
            name="note">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger " (click)="activeModal.close()">
      <span class="ft-x-square"></span>
      cancel</button>
    <button type="button" class="btn btn-success " (click)="onSave(regularForm)"> <span
        class="ft-save"></span>
      save </button>
  </div>
</form>
