<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/bg.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <form #form="ngForm" novalidate  >
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{user.firstName}}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects</p>
        <div class="row">
          <div class="col" [hidden]="modifier">
            <button type="button" (click)="onEdit()" name="edit"
              class="btn btn-info">edit</button>
          </div>
          <div class="col" [hidden]="!modifier">
            <button type="button" (click)="onCancel()" name="cancel"
              class="btn btn-warning">cancel</button>
          </div>
          <div class="col" [hidden]="!modifier">
            <button type="button" class="btn btn-success" (click)="onUpdate(form) "
              name="save" > save </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #form="ngForm" novalidate  >
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name"  [disabled]="!modifier" name="firstName" class="form-control form-control-alternative"
                    [(ngModel)]="user.firstName" #firstName="ngModel">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name"  name="lastName" [disabled]="!modifier" class="form-control form-control-alternative"
                    [(ngModel)]="user.lastName" #lastName="ngModel">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-numTel">Num Tel</label>
                    <input type="text" id="input-username"  name="numtel" [disabled]="!modifier"  class="form-control form-control-alternative"
                    [(ngModel)]="user.numTel" #numTel="ngModel"
                    >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative"
                    [(ngModel)]="user.email" #email="ngModel" [disabled]="!modifier" name="email"
                    >
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
